*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background: #121212 url(../img/arka-plan.jpg) no-repeat;
  background-size: 1500px 100%;
  color: #ffffff;
}

.ci {
  display: flex;
}

.pp {
  width: 600px;
  height: 700px;
  background: #fff url(../img/photograph.jpg) no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 40px;
  left: 40px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 15px;
}

.im {
  position: relative;
  top: 200px;
  left: 280px;
  width: 620px;
  height: 280px;
}

.im h1 {
  text-align: end;
  padding: 4px;
  font-size: 60px;

}

.im .bio-h1 {
  color: #feb300;
  display: flex;
}

.im .bio-h1 .cizgi {
  background-color: #feb300;
  width: 40px;
  height: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30px;
  left: 18px;
  border-radius: 25px;
}

.alt-h1 {
  margin: 0 53px 0 0;
}

.im p {
  text-align: end;
  padding: 1px;
  margin: 15px 0;
}

.p .ilk {
  padding: 20px 0 0 0;
}

.cssbuttons-io-button {
  background: #121212;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding: 0 1.8rem 0 2.2rem;
  font-size: 17px;
  font-weight: 500;
  border-radius: 25px;
  border: 1px #feb300 solid;
  font-weight: bold;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 20px;
  left: 385px;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: #feb300;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.9em;
  width: 2.9em;
  border-radius: 25px;
  right: 0%;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #fff;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.8);
}

/* ===== ICON-MENU ===== */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  margin: 20px 40px;
  
  gap: 65px;
  font-size: 26px;
}

.icon {
  width: 50px;
  height: 50px;
  background: #333333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.dlmode {
margin: 0 0 50px 0;
}

.icon-menu .icon {
  margin: 22px 0;
}

.icon:hover {
  background: #ffaa00;
  cursor: pointer;
}

.icon.active {
  background: #ffaa00;
}

.icon.active i {
  color: #f9f9f9;
}